<!doctype html>
<html>
<link ref="stylesheet" type="text/css" href="/static/c2.css"/>
  <body>
    <h>head</h><br>

  profile:{{ uid }} <br>

  {#注释#}
  {% for i in range(0,5): %}
    profile: i <br>
  {% endfor %}

  # for color in colors:
   {{ color }} <br>
  # endfor

  {% for color in colors: %}
    {{ loop.index }}  {{ color }}<br/>  {#loop.index 表示序列号#}
  {% endfor %}

  {% filter upper %}
  {% for k,v in infos.items(): %}
    {{ k }},{{ v }}<br/>
  {% endfor %}
  {% endfilter %}
    <br/>

  {% macro render_color(color) %}
    <div>This is color: {{ color }} {{ caller() }} </div><br/>
  {% endmacro %}

  {% for color in colors: %}
    {% call render_color(color) %}
        rend_color_demo
    {% endcall %}
  {% endfor %}
  </body>
</html>